rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner() {
      return isSignedIn() && request.auth.token.email == 'dwieachmad14@gmail.com' && request.auth.token.email_verified == true;
    }

    function incoming() { return request.resource.data; }
    function existing() { return resource.data; }

    function isValidEditor(data) {
      return data.keys().hasAll(['email', 'addedBy', 'createdAt']) &&
             data.keys().size() == 3 &&
             data.email is string && data.email.size() <= 200 && data.email.size() > 3 &&
             data.addedBy is string && data.addedBy == request.auth.token.email &&
             data.createdAt is number;
    }

    match /editors/{editorId} {
      allow read: if isSignedIn();
      allow create: if isOwner() && isValidEditor(incoming());
      allow update: if false; // Editors are just added and deleted, not updated
      allow delete: if isOwner();
    }
  }
}
